<!DOCTYPE html>
<html lang="fa" dir="rtl" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نوتیک</title>

    <link rel="stylesheet" href="./assets/css/main.css">

</head>
<body class="max-w-[1700px] mx-auto bg-[#F5F7Fa]">

  <main>
    <div class="h-screen flex justify-center items-center bg-gradient-to-bl from-zinc-100 to-zinc-200">
      <div class="bg-white rounded-3xl border border-zinc-300 shadow-custom w-11/12 sm:w-7/12 md:w-6/12 lg:w-4/12 xl:w-3/12 h-auto py-5 px-4">
        <img class="w-36 mx-auto" src="./assets/image/logo.png" alt="">
        <div class="mt-5 xl:text-lg font-PeydaBold text-zinc-800">
         ارسال کد تایید
        </div>
        <div class="mt-4 mb-3 text-xs xl:text-smm font-PeydaRegular text-zinc-500">
         لطفا کد 4 رقمی ارسال شده به شماره تلفن 09123456789 را وارد کنید:
        </div>
        <div class="input-field mb-5 flex flex-row-reverse gap-x-4 justify-center mt-2">
          <input type="text" inputmode="numeric" pattern="[0-9]*" name="code" class="code-input w-10 h-12 text-center focus:shadow-lg shadow-custom/15 rounded-lg border border-zinc-200 bg-white text-gray-700 transition-all outline-2 outline-transparent focus:outline-primary-500" required="">
          <input type="text" inputmode="numeric" pattern="[0-9]*" name="code" class="code-input w-10 h-12 text-center focus:shadow-lg shadow-custom/15 rounded-lg border border-zinc-200 bg-white text-gray-700 transition-all outline-2 outline-transparent focus:outline-primary-500" required="">
          <input type="text" inputmode="numeric" pattern="[0-9]*" name="code" class="code-input w-10 h-12 text-center focus:shadow-lg shadow-custom/15 rounded-lg border border-zinc-200 bg-white text-gray-700 transition-all outline-2 outline-transparent focus:outline-primary-500" required="">
          <input type="text" inputmode="numeric" pattern="[0-9]*" name="code" class="code-input w-10 h-12 text-center focus:shadow-lg shadow-custom/15 rounded-lg border border-zinc-200 bg-white text-gray-700 transition-all outline-2 outline-transparent focus:outline-primary-500" required="">
        </div>
        <a class="bg-primary-600 hover:bg-white hover:text-primary-600 group rounded-2xl w-full text-center block p-3.5 lg:p-4 mt-10 transition-all duration-300 hover:shadow-custom text-smm xl:text-sm text-white" href="">
          تایید
        </a>
      </div>
    </div>
  </main>

</body>

<script src="./assets/js/main.js"></script>

</html>